.fullscreen {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#layer0, #layer1, #layer2, #view, #map {
    position: absolute;
}

#route, #grid, #samples, #heatmap {
    position: relative;
    pointer-events: none;
}

#ui {
    position: relative;
    z-index: 1;
    top: 95%;
    float: left;
}

